<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title><%=botname%> Dashboard</title>
    <meta name="description" content="<%=botname%> is a multipurpose Discord bot With Ticket, varification, Invitetracker, utility etc">
    <meta name="author" content="RJRYT">
    <meta property="og:title" content="<%=botname%>" />
    <meta property="og:description" content="<%=botname%> is a multipurpose Discord bot With Ticket, varification, Invitetracker, utility etc" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="<%=avatar%>" />
    <meta property="og:site_name" content="Dashboard <%=botname%>" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <link href="css/preloader.css" rel="stylesheet" />
    <script src="js/core/jquery.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="js/plugins/bootstrap-notify.js"></script>
  <script src="js/black-dashboard.min.js?v=1.0.0"></script>
  <script src="/js/plugins/notify.js"></script>
  </head>
